
html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  /*不显示滚动条*/
  -ms-overflow-style:none;
  overflow:-moz-scrollbars-none;
}
/*不显示滚动条*/
::-webkit-scrollbar{
  display:none;
}
html::-webkit-scrollbar{width:0}


button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font-size: 100%;
  vertical-align: baseline;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  -webkit-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background: #f5f5f5;
  color: #4d4d4d;
  width:100%;
  height:100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
}

:focus {
  outline: 0;
}

.hidden {
  display: none;
}

.todoapp {
  background: #f5f5f5;
  width: 100%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
  0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.todoapp input::-webkit-input-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}

.todoapp input::-moz-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}

.todoapp input::input-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}

/*.todoapp h1 {
  position: absolute;
  top: -155px;
  width: 100%;
  font-size: 100px;
  font-weight: 100;
  text-align: center;
  color: rgba(175, 47, 47, 0.15);
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
}*/

.new-todo,
.edit {
  position: relative;
  margin: 0;
  width: 100%;
  font-size: 24px;
  font-family: inherit;
  font-weight: inherit;
  line-height: 1.4em;
  border: 0;
  color: inherit;
  padding: 6px;
  /*border: 1px solid #999;
  box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);*/
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.new-todo {
  padding: 3% !important;
  text-align: center;
  border: none;
  background: rgba(0, 0, 0, 0.003);
  /*box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);*/
  /*height:10%;*/
}
input::-webkit-input-placeholder{
  color:#000;
}

.main {
  z-index: 2;
  /*border-top: 1px solid #e6e6e6;*/
  overflow: scroll;
  /*优化原生滚动条不够流畅*/
  -webkit-overflow-scrolling:touch;  //IOS系统
  overflow-scrolling:touch;  //安卓系统

  /*新增*/
/*  position: fixed;*/
/*  margin-top: 17%;*/
  background: #f5f5f5;
  width: 100%;
  /*max-height: 72%;*/
}

.toggle-all {
  text-align: center;
  border: none; /* Mobile Safari */
  opacity: 0;
  display: none;
}

.toggle-all + label {
  /*position: fixed;
  bottom: 3%;
  left: 8px;*/

  display: block;
  width: 30px;
  height: 30px;
  border-radius: 100px;

  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
  /*
  cursor: pointer;
  */

  z-index: 1;

  -webkit-box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
  -moz-box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
  box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
}

/*.toggle-all + label:before {
  content: ' ';
  border-radius: 100px;
  !*position: absolute;*!
  background: cyan;
  opacity: .8;
  display: none;
  !*box-shadow: inset 0 15px 23px -10px rgba(187,230,240,.3), 0 2px 2px rgba(0,0,0,.1);*!
  margin-top: 3px;
  margin-left: 3px;
  width: 24px;
  height: 24px;
}*/

.toggle-all:checked + label:before {
  content: ' ';
  border-radius: 100px;
  /*position: absolute;*/
  background: cyan;
  opacity: .8;
  display: block;
  /*
  box-shadow: inset 0 15px 23px -10px rgba(187,230,240,.3), 0 2px 2px rgba(0,0,0,.1);
  */
  margin-top: 3px;
  margin-left: 3px;
  width: 24px;
  height: 24px;
}

.sort {
  /*position: fixed;
  bottom: 3%;
  left: 43px;*/
  line-height: 26px;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  transition: all .5s ease;
  z-index: 1;
  box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.2);
}

.sortActive{
  background: #FFD200;
}

.todo-list {
  margin: 1px 0 0 0;
  padding: 0;
  list-style: none;
  /*
  margin-top: 1px;
  */
  /*
  border-bottom: 1px solid #e6e6e6;
  */
}

.todo-list li {
  position: relative;
  font-size: 24px;
  /*
  border-bottom: 1px solid #ededed;
  */
}

.todo-list li:last-child {
  border-bottom: none;
}

.todo-list li.editing {
  border-bottom: none;
  padding: 0;
}

.todo-list li.editing .edit {
  display: block;
  width: 506px;
  padding: 12px 16px;
  margin: 0 0 0 43px;
}

.todo-list li.editing .view {
  display: none;
}

.todo-list li .toggle {
  text-align: center;
  width: 40px;
  /* auto, since non-WebKit browsers doesn't support input styling */
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  border: none; /* Mobile Safari */
  -webkit-appearance: none;
  appearance: none;
}

.todo-list li .toggle {
  opacity: 0;
}

.todo-list li .toggle + label {
  /*
        Firefox requires `#` to be escaped - https://bugzilla.mozilla.org/show_bug.cgi?id=922433
        IE and Edge requires *everything* to be escaped to render, so we do that instead of just the `#` - https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/7157459/
    */
  background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23ededed%22%20stroke-width%3D%223%22/%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-position: center left;
}

.todo-list li .toggle:checked + label {
  background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23bddad5%22%20stroke-width%3D%223%22/%3E%3Cpath%20fill%3D%22%235dc2af%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22/%3E%3C/svg%3E');
}

.todo-list li label {
  word-break: break-word;
  padding: 15px 15px 15px 60px;
  display: inline-block;
  line-height: 1.2;
  transition: color 0.4s;
}
.todo-list li span {
  font-size: 10px;
  right: 0;
  position: absolute;
  bottom: 0;
}

.todo-list li.completed label {
  color: #d9d9d9;
  text-decoration: line-through;
}

.todo-list li .destroy {
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  width: 40px;
  height: 40px;
  margin: auto 0;
  font-size: 30px;
  color: #cc9a9a;
  margin-bottom: 11px;
  transition: color 0.2s ease-out;
}

.todo-list li .destroy:hover {
  color: #af5b5e;
}

.todo-list li .destroy:after {
  content: '×';
}

.todo-list li:hover .destroy {
  display: block;
}

.todo-list li .edit {
  display: none;
}

.todo-list li.editing:last-child {
  margin-bottom: -1px;
}

.waller{
}

.header {
  /*新增*/
/*  position: fixed;*/
  width: 100%;
  background: #fff;
  height:9%;
}


.footer {
  display: flex;
  color: #777;
  border-top: 1px solid #f5f5f5;
 /* padding: 12px 15px;*/
  height: 10%;
  text-align: center;
  /*border-top: 1px solid #e6e6e6;*/



  /*新增*/
  /*position: fixed;
  bottom: 2%;*/
  width: 100%;
  background: #fff;
}

.footer:before {
  content: '';
  position: absolute;
  right: 0;
  bottom: 14px;
  left: 0;
  height: 10%;
  overflow: hidden;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
  0 8px 0 -3px #f6f6f6,
  0 9px 1px -3px rgba(0, 0, 0, 0.2),
  0 16px 0 -6px #f6f6f6,
  0 17px 2px -6px rgba(0, 0, 0, 0.2);
}

.todo-count {
 /* float: left;
  text-align: left;*/
 /* line-height: 35px;
  position: relative;*/
}

.todo-count strong {
  font-weight: 300;
}

.filters {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  /*
  right: 0;
  left: 0;*/
}

.filters li {
  display: inline;
}

.filters li a {
  color: inherit;
  margin: 3px;
  padding: 3px 7px;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 3px;
}

.filters li a:hover {
  border-color: rgba(175, 47, 47, 0.1);
}

.filters li a.selected {
  border-color: rgba(175, 47, 47, 0.2);
}

.clear-completed,
html .clear-completed:active {
  /*right: 5px;
  bottom:3%;*/
  width: 28px;
  position: relative;
}

.clear-completed:hover {
  text-decoration: underline;
}

.info {
  margin: 65px auto 0;
  color: #bfbfbf;
  font-size: 10px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-align: center;
}

.info p {
  line-height: 1;
}

.info a {
  color: inherit;
  text-decoration: none;
  font-weight: 400;
}

.info a:hover {
  text-decoration: underline;
}

/*
	Hack to remove background from Mobile Safari.
	Can't use it globally since it destroys checkboxes in Firefox
*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
  .toggle-all,
  .todo-list li .toggle {
    background: none;
  }

  .todo-list li .toggle {
    height: 40px;
  }
}

@media (max-width: 430px) {
  .footer {
    height: 10%;
  }

  .filters {
    /*bottom: 3%;*/
  }
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  /*padding: 5px;*/
  width: 100%;
}

.col {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: block;
  /*padding: 5px;*/
  width: 100%;
}

.col-10 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 10%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 10%;
  -ms-flex: 0 0 10%;
  flex: 0 0 10%;
  max-width: 10%;
}

.col-60 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 60%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 60%;
  -ms-flex: 0 0 60%;
  flex: 0 0 60%;
  max-width: 60%;
}

.padding-margin0{
  padding: 0;
  margin:0;
}

.padding0{
  padding: 0;
}
.margin0{
  margin:0;
}

.heightCenter{
  display: flex;
  align-items: center;
}

.isCompleted{
  background: #fafafa;
}

.mint-header-title{
  overflow:unset!important;
}
.mint-header{
  background-color: purple!important;
}

#new-todo-input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color:    purple;
}
#new-todo-input:-moz-placeholder, textarea:-moz-placeholder {
  color:    purple;
}
#new-todo-input::-moz-placeholder, textarea::-moz-placeholder {
  color:    purple;
}
#new-todo-input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color:    purple;
}

.bg-tomato{
  background-color: tomato!important;
}

.bg-chartreuse{
  background-color: chartreuse!important;
}

.bg-aqua{
  background-color: aqua!important;
}

.VueStar{
  top: 21px!important;
  left: -23px!important;
}
.VueStar__icon{
  z-index:1!important;
}

.balckIcon{
  color:black;
}

.redIcon{
  color:red;
}

.commentArea{
  /*position: absolute;
  bottom: 0;*/
  width: 100%;
  z-index: 2;
}

.detailMain{
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  margin-top: 40px;
  background: #f5f5f5;
  width: 100%;
}

.weui-cells{
  margin-top: 0!important;
}

